@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page</title>
</head>
<body>
    <hgroup>
        <h1 style="color:red">Sunucu hatası</h1>
        <h2 style="color:red">Sunucu hatası meydana geldi. Lütfen daha sonra deneyiniz.</h2>
    </hgroup>
</body>
</html>
