@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page </title>
</head>
<body>
    <hgroup>
        <h1 style="color:red">Özür dileriz</h1>
        <h2 style="color:red">Sayfaya ulaşılamadı.Lütfen tekrar deneyiniz.</h2>
    </hgroup>
</body>
</html>
